.container {
    width: 50%;
    height: 50%;
    margin: 50px;
    text-align: center;
    padding: 15px;
    display: flex;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}